@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

html,
body,
#app {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
}